# DFRLab's Notebook on finding 'account created' date for 100 accounts using Twitter API.

In [6]:
#Installing packages for the notebook. 

from twython import Twython
#Twython is a library for providing easy way to scrape data. 
import pandas as pd
#Pandas is a library for analtyzing data. 
import csv
#CSV is the format required for storing the data in a file. 


#add your Twitter Access Keys
t = Twython(app_key='', 
    app_secret='',
    oauth_token='',
    oauth_token_secret='')

#^Please do not share your keys with anyone, as keys could be misused. You can find your keys, or make one for your application here: 
#https://apps.twitter.com/

In [169]:

# Add your data inside the data = [], for example: data = ["John Kane", "Ralph Scott"]
data = []

output = t.lookup_user(screen_name=data) 
#Here's where we parse the data with Twitter.
accountcreated_list=[]
#This is where we encapsulate the data, showing how different accounts have different account_created dates. 

#Loop through the results
for user in output:
    accountcreated_list.append(user['created_at'])
    
#The reason why we are using a 'for' statement here, is to make the process easier, instead of putting a query in each line for different accounts, we are basically asking Twitter to give us the list of the accounts as mentioned.  
print accountcreated_list 
#The upper line prints the list.

[u'Tue Jun 26 03:55:37 +0000 2018', u'Fri Jan 05 00:29:10 +0000 2018', u'Tue May 15 01:18:23 +0000 2018', u'Mon Nov 02 19:42:23 +0000 2015', u'Tue Mar 20 16:43:07 +0000 2012', u'Mon Jun 11 01:25:10 +0000 2012', u'Sat May 12 18:16:48 +0000 2018', u'Thu Feb 08 16:59:10 +0000 2018', u'Mon Apr 24 23:30:34 +0000 2017', u'Tue Sep 09 19:08:47 +0000 2014', u'Mon May 21 04:29:45 +0000 2018', u'Tue May 08 15:33:19 +0000 2018', u'Sun Jul 12 22:04:01 +0000 2015', u'Fri May 26 00:59:45 +0000 2017', u'Sun Apr 01 15:41:31 +0000 2018', u'Sun Aug 13 01:54:55 +0000 2017', u'Thu Aug 04 06:32:33 +0000 2016', u'Thu May 24 00:51:12 +0000 2018', u'Thu Sep 21 16:04:33 +0000 2017', u'Sun Aug 13 18:26:22 +0000 2017', u'Fri Jun 08 03:10:18 +0000 2018', u'Tue Dec 13 01:49:32 +0000 2011', u'Sun Apr 22 23:43:18 +0000 2018', u'Mon Jun 18 16:59:25 +0000 2018', u'Mon May 21 01:02:56 +0000 2018', u'Sat Apr 21 06:58:39 +0000 2018', u'Tue Apr 17 00:55:10 +0000 2018', u'Thu May 24 21:09:53 +0000 2018', u'Sat Mar 31 01:01:29 +0000 2018', u'Mon Jun 29 23:14:31 +0000 2009', u'Sun Dec 10 05:00:50 +0000 2017', u'Wed Aug 04 16:59:57 +0000 2010', u'Fri Feb 16 23:06:39 +0000 2018', u'Fri Mar 23 00:40:59 +0000 2018', u'Thu Jun 14 21:04:52 +0000 2018', u'Wed May 23 02:18:09 +0000 2018', u'Sun May 21 21:49:02 +0000 2017', u'Sun May 06 20:52:24 +0000 2018', u'Mon Feb 10 06:44:28 +0000 2014', u'Wed Aug 07 15:28:46 +0000 2013', u'Tue Apr 10 19:10:04 +0000 2018', u'Sat Apr 07 03:38:21 +0000 2018', u'Tue Jun 19 23:14:09 +0000 2018', u'Sun Jun 10 18:26:24 +0000 2018', u'Sat Jun 16 01:55:11 +0000 2018', u'Mon May 28 23:05:08 +0000 2018', u'Wed Sep 13 20:23:53 +0000 2017', u'Sat Apr 28 23:29:35 +0000 2018', u'Wed May 16 20:16:54 +0000 2018', u'Tue Jun 12 02:19:20 +0000 2018', u'Sun Mar 01 21:36:42 +0000 2015', u'Sat May 26 18:35:54 +0000 2018', u'Wed Apr 25 23:23:53 +0000 2018', u'Mon Nov 07 18:17:49 +0000 2016', u'Fri Jan 10 05:05:36 +0000 2014', u'Fri Jun 03 16:39:27 +0000 2016', u'Wed Apr 09 20:27:40 +0000 2014', u'Mon Dec 26 15:05:38 +0000 2016', u'Tue Jun 26 03:11:44 +0000 2018', u'Tue Feb 06 00:06:20 +0000 2018', u'Wed Sep 20 01:43:05 +0000 2017', u'Tue Jan 02 01:08:30 +0000 2018', u'Tue Jan 17 19:30:32 +0000 2017', u'Sun Dec 07 01:28:56 +0000 2014', u'Mon Feb 01 19:25:11 +0000 2016', u'Mon Feb 21 09:40:30 +0000 2011', u'Sat Jun 23 14:18:36 +0000 2018', u'Thu Dec 21 23:53:59 +0000 2017', u'Fri Mar 02 22:32:42 +0000 2018']

In [170]:
#Here is where we use, Pandas to bind the data in adjacent to the accountcreated_list.
pd.DataFrame(data, accountcreated_list)

                                              0
Tue Jun 26 03:55:37 +0000 2018   Amelia20870330
Fri Jan 05 00:29:10 +0000 2018          SSclant
Tue May 15 01:18:23 +0000 2018   chelis70430970
Mon Nov 02 19:42:23 +0000 2015  patrici03646643
Tue Mar 20 16:43:07 +0000 2012   fabiolaferral1
Mon Jun 11 01:25:10 +0000 2012   adrianivankein
Sat May 12 18:16:48 +0000 2018      BrechtAyala
Thu Feb 08 16:59:10 +0000 2018  LaChairaTapatia
Mon Apr 24 23:30:34 +0000 2017   DavidAguillon8
Tue Sep 09 19:08:47 +0000 2014        Joslynice
Mon May 21 04:29:45 +0000 2018        Liaghotic
Tue May 08 15:33:19 +0000 2018       lmoreno142
Sun Jul 12 22:04:01 +0000 2015  Gustavo31482046
Fri May 26 00:59:45 +0000 2017     lepetipperez
Sun Apr 01 15:41:31 +0000 2018  MargartaMeneses
Sun Aug 13 01:54:55 +0000 2017       geral_glez
Thu Aug 04 06:32:33 +0000 2016   Anonimo1017123
Thu May 24 00:51:12 +0000 2018        MaatYoced
Thu Sep 21 16:04:33 +0000 2017     oliverio_cam
Sun Aug 13 18:26:22 +0000 2017        Acatleco1
Fri Jun 08 03:10:18 +0000 2018         DuDaymon
Tue Dec 13 01:49:32 +0000 2011     mariabelem97
Sun Apr 22 23:43:18 +0000 2018  Massimo39359983
Mon Jun 18 16:59:25 +0000 2018  DanielMirmontes
Mon May 21 01:02:56 +0000 2018          lozamob
Sat Apr 21 06:58:39 +0000 2018  AngelRamirezM18
Tue Apr 17 00:55:10 +0000 2018  Leticia80908051
Thu May 24 21:09:53 +0000 2018    loopnamtabios
Sat Mar 31 01:01:29 +0000 2018       MirraSara1
Mon Jun 29 23:14:31 +0000 2009   DoctorCandymen
...                                         ...
Wed Aug 07 15:28:46 +0000 2013         rst123uv
Tue Apr 10 19:10:04 +0000 2018         NubeTuya
Sat Apr 07 03:38:21 +0000 2018       CnKaribeth
Tue Jun 19 23:14:09 +0000 2018  Francis71169122
Sun Jun 10 18:26:24 +0000 2018        MixIvonne
Sat Jun 16 01:55:11 +0000 2018        SalazEder
Mon May 28 23:05:08 +0000 2018  LaloCamachoSnc1
Wed Sep 13 20:23:53 +0000 2017        semtzjara
Sat Apr 28 23:29:35 +0000 2018     albinoni1600
Wed May 16 20:16:54 +0000 2018     Bbto93819941
Tue Jun 12 02:19:20 +0000 2018     FranciscoJ_1
Sun Mar 01 21:36:42 +0000 2015    jjmarroquin77
Sat May 26 18:35:54 +0000 2018  fabianm46993014
Wed Apr 25 23:23:53 +0000 2018        HillElvys
Mon Nov 07 18:17:49 +0000 2016      MarcovHyper
Fri Jan 10 05:05:36 +0000 2014    Rosales01Raul
Fri Jun 03 16:39:27 +0000 2016         ponsho25
Wed Apr 09 20:27:40 +0000 2014      Oswaldovzky
Mon Dec 26 15:05:38 +0000 2016  Armando86921791
Tue Jun 26 03:11:44 +0000 2018    AmaRM88720763
Tue Feb 06 00:06:20 +0000 2018  RafaelG05243910
Wed Sep 20 01:43:05 +0000 2017      dnlvitravia
Tue Jan 02 01:08:30 +0000 2018            atltz
Tue Jan 17 19:30:32 +0000 2017       trotskymex
Sun Dec 07 01:28:56 +0000 2014         Kikertin
Mon Feb 01 19:25:11 +0000 2016  Simone682973161
Mon Feb 21 09:40:30 +0000 2011          KSANDY7
Sat Jun 23 14:18:36 +0000 2018         ARotarel
Thu Dec 21 23:53:59 +0000 2017   Maariadelarosa
Fri Mar 02 22:32:42 +0000 2018   Cesar_ManoatlL

[69 rows x 1 columns]

In [171]:
#Here's where we save the data to a csv file. 
frame = zip(data ,accountcreated_list)
df = pd.DataFrame(frame)

#Saving the file to csv.
df.to_csv('accountscreated.csv', index=False)